pandas 
numpy 
textblob
scikit-learn 
matplotlib 
plotly 
streamlit 
google-api-python-client
streamlit
deep-translator
youtube-transcript-api
transformers 
torch
instaloader
statsmodels
tweepy
firebase-admin
bcrypt